body{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.header{
  width: 95vw;
  height: 10vh;
  background-color: SteelBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95vw;
  height: 10vh;
}

h2{
  font-style: italic;
  font-family: cursive;
}

.matchitem{
  text-align: left;

}
#index{
  display: flex;
  flex-direction: column;
}
